@import "./_mixing";

body {
  background: $background;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
button {
  cursor: pointer;
  @include transitionOp();
    &:focus {
    border-radius: none;
    outline: none;
  }
  &:hover{
    background: $white;
    color: $buttonActive;
  }
}

.form {
  &-container {
    bottom: 0;
    left: 0;
    margin: auto;
    height: 550px;
    position: absolute;
    right: 0;
    top: 0;
  }
  &-panel {
    background: $container;
    border-radius: 6px;
    box-sizing: border-box;
    @include dropShadow(0, 2px, 6px, -1px, rgba($black, 0.71));
    color: $white;
    margin: auto;
    max-width: 600px;
    overflow: hidden;
    padding: 40px;
    width: 100%;
    @include maxMQ(350px) {
      padding: 40px 2.9%;
    }
  }
  &-body {
    height: 396px;
    position: relative;
    @include maxMQ(509px) {
      height: 472px;
    }
    > div {
      opacity: 0;
      position: absolute;
      @include transitionOp();
      top: 0;
      visibility: hidden;
      width: 100%;
      &.active-body {
        opacity: 1;
        visibility: visible;
      }

      h2 {
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 30px 0;
        text-align: center;
      }
    }
  }
}
.button-wrapper {
  align-items: center;
  background: $container;
  display: flex;
  justify-content: center;
  button {
    background: $button;
    border: none;
    color: rgba($white, 0.6);
    line-height: 53px;
    max-width: 260px;
    width: 100%;
    &:hover{
      background: $white;
      color: $buttonActive;
    }
    &.active {
      background: $buttonActive;
      color: $white;
    }
  }
}

input {
  background: none;
  border: 1px solid rgba($white, 0.4);
  color: $white;
  height: 34px;
  padding-left: 10px;
  width: 100%;
  &:focus {
    border-radius: none;
    outline: none;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    caret-color: white;
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: #fff !important;
  }
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin: 38px 0;
  position: relative;
  label {
    display: flex;
    width: 100%;
  }
  &.col-two {
    label {
      width: 47%;
    }
    input {
      width: 100%;
    }
    @include maxMQ(509px) {
      flex-flow: row wrap;
      label {
        display: flex;
        width: 100%;

        &:first-child {
          margin-bottom: 38px;
        }
      }
    }
  }
  input {
    &.error {
      outline: 1px solid $error;
      & + .password_rule {
        opacity: 1;
        visibility: visible;
      }
    }

    &:valid,
    &:focus {
      &:after {
        display: none;
      }
    }
  }
}
.password_rule {
  color: $error;
  font-size: 12px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 42px;
  visibility: hidden;
  width: 100%;
}
.btn-submit {
  background: $buttonActive;
  border: none;
  color: $white;
  letter-spacing: 4px;
  line-height: 66px;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;

}

.log_in {
  .form-row {
    &:nth-child(2) {
      margin-bottom: 0;
    }
  }
  .forgot_password {
    color: $buttonActive;
    display: block;
    margin: 18px 0;
    text-align: right;
    text-decoration: none;
  }
}

.password-wrapper {
  display: flex;
  width: 100%;
  i {
    &:before {
      font-size: 16px;
      opacity: 0.3;
      position: absolute;
      right: 14px;
      top: 10px;
    }
  }
  input {
    padding-right: 32px;
    width: 100%;
  }
  &.lock-open {
    i {
      &:before {
        content: "\f13e";
      }
    }
  }
}

.first_name-warpper {
  position: relative;
  &:before {
    content: "\f090";
    font-family: FontAwesome;
    font-size: 16px;
    opacity: 0.3;
    position: absolute;
    right: 14px;
    top: 10px;
  }
  input {
    padding-right: 32px;
  }
}

.asterisk-active {
  position: relative;
  &:after {
    color: rgba($buttonActive, 0.5);
    content: "*";
    left: 95px;
    page-break-after: always;
    position: absolute;
    top: 9px;
    transform: rotate(30deg);
  }
}
#emailLabel, #emailAddressLoginLabel {
  &:after {
    left: 118px;
  }
}
#signUpPassword {
    &:after {
      left: 126px;
    }
  }

  #logInPassword{
    &:after {
        left: 85px;
      }
  }